<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{context.title}}</title>
  <link rel="stylesheet" href="{{context.baseURL}}/assets/css/main.css">
  <link rel="icon" type="image/png" href="{{context.baseURL}}/assets/images/favicon.png">
  <link rel="manifest" href="{{context.baseURL}}/assets/manifest.json">
</head>
<body>
  <div class="content">
    <div>
      {{> headerEmpty}}
      <div class="container">
        <div class="row mt-130">
          <div class="col-2 col-md-0 col-sm-0"></div>
          <div class="col-8 justify-center">
            <h1 class="h0 w-100 text-center text-primary"><span style="font-weight: 300;">-</span> 500 <span style="font-weight: 300;">-</span></h1>
            <h2 class="h2 mt-15">Um erro inesperado ocorreu</h2>
            <div class="d-flex d-column w-100 justify-center">
              <p class="p2 w-100">
                Caso o erro continue acontecendo, entre em contato com o suporte através do e-mail <a href="mailto:suporte@motiviva.com.br">suporte@motiviva.com.br</a>
              </p>
              <a href="{{context.baseURL}}/home" class="text-center p2 mt-10">Voltar para a home</a>
            </div>
          </div>
          <div class="col-2 col-md-0 col-sm-0"></div>
        </div>
      </div>
    </div>
    {{> footer}}
  </div>
</body>
</html>
