<link rel="stylesheet" href="{{context.baseURL}}/assets/css/partials/footer.css">
<div class="footer mt-55">
  <div class="container">
    <div class="row mt-20">
      <div class="col-4 col-md-0"></div>
      <div class="col-4 col-md-8 col-sm-4 justify-space-between">
        <a href="{{baseURL}}/home">Home</a>
        <a href="{{baseURL}}/usuarios">Usuários</a>
        <a href="{{baseURL}}/admins">Admins</a>
        <a href="{{baseURL}}/frases">Frases</a>
      </div>
      <div class="col-4 col-md-0"></div>
    </div>
    <div class="row mt-5">
      <div class="col-12 justify-end">
        <p class="h2 text-neutral-2 text-medium">MotiViva</p>
      </div>
    </div>
  </div>
</div>
