<link rel="stylesheet" href="{{context.baseURL}}/assets/css/partials/header.css">
<div class="header mb-55">
  <div class="container">
    <div class="row first-block">
      <div class="col-2 col-md-4">
        <div class="icon">
          <a href="{{baseURL}}/home">
            <img src="{{context.baseURL}}/assets/images/logo.png" alt="Imagem de Bob" class="mr-5">
          </a>
          MotiViva
        </div>
      </div>
    </div>
  </div>
  <div class="second-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul id="nav" class="nav">
            <li class="mr-50">
              <a href="{{baseURL}}/home">Home</a>
            </li>
            <li class="mr-50">
              <a href="{{baseURL}}/usuarios">Usuários</a>
            </li>
            <li class="mr-50">
              <a href="{{baseURL}}/admins">Admins</a>
            </li>
            <li class="mr-50">
              <a href="{{baseURL}}/frases">Frases</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
